*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    transition: 200ms;
}

.dark-theme{
    color: white;
    border-color: white;
    background-color:#00161a;
    text-decoration-color: white;
    border-color: white;
}

.light-theme{
    color: black;
    border-color: black;
    background-color: white;
    text-decoration-color: gray;
    border-color: black;
}

.wrapper{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.logos{
    margin: 0 auto;
    text-align: center;
    border-radius: 20px 20px 0 0;
    /* background-color: #154B52; */
    font-size: 35px;
    width: 800px;
    /* padding: 10px; */
    user-select: none;
    display: flex;
}
.text {
    width: 20%;
  }
.logo{
    padding: 10px;
    transition: 700ms;
}



.logo_task{  
    border-radius: 20px 0 0 0;
}

.logo_task:hover{  
    flex: 3;
    background-color: #32b1c2;   
    cursor: pointer;
}

.logo_settings:hover{
    flex: 3;
    background-color: #32b1c2;  
    cursor: pointer;
}

.logo_about:hover{
    flex: 3;
    background-color: #32b1c2;  
    cursor: pointer;
}

.logo_about{
    border-radius: 0 20px 0 0;
}

.picked{
    flex: 3;
    background-color: #268895; 
    color: white; 
}

.unpicked{
    flex: 1;
    background-color: #154b52;  
    color: rgb(209, 208, 208);
}

body{
    padding: 15px;
}

.list{
    font-size:25px;
}

.titles{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.title{
    flex: 1;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    transition-duration: 800ms;
    user-select: none;
}

.title1{
    border-right: 1px solid  rgba(255, 255, 255, 0.144);
    border-left: 2px solid rgba(255, 255, 255, 0.144);
    color: #FF5F5D;
}

.title1:hover{
    border-right: 1px solid  #FF5F5D;
    border-left: 2px solid #FF5F5D;
    background-color:#ff605d34;
}


.title2{
    border-left: 1px solid rgba(255, 255, 255, 0.144);
    border-right: 2px solid rgba(255, 255, 255, 0.144);
    color: #00CCBF;
}
.title2:hover{
    border-right: 2px solid  #00CCBF;;
    border-left: 1px solid #00CCBF;

    background-color:#00ccbe2e;
}


.green{
    border-bottom: 1px solid #00CCBF;
}

.green:hover{
    color: #00CCBF;
    border-bottom: 1px solid;
}

.red{
    border-bottom: 1px solid #FF5F5D;
}

.red:hover{
    color: #FF5F5D;
    border-bottom: 1px solid;
    text-decoration-line: line-through;
}


.container{
    display: flex;
    gap: 10px;
}
.listElementBtn{
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    word-break: break-all;
    transition-duration: 300ms;
}

.cont{
    display: flex;
    font-size: 20px;
}

.button-delete{
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: 400ms;
    height: 50%;
}

.button-delete:hover{
    /* margin: 2px; */
    background-color: #ff605d5a;
    border-radius: 0 10px 10px 0;
}

.todo-cont{
    flex: 1;
}

.done-cont{
    flex: 1;
}

.elementAddPanel{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0 0 0;
    flex-wrap: wrap;
}

.addElBtn{
    border: 2px solid #00CCBF ;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 700ms;
    padding: 3px 10px;
    user-select: none;
}

.addElBtn:hover{
    background-color: #00CCBF;
    color: black;
}

.elName{
    padding: 5px;
    /* border: none; */
    border: 1px solid #001e23;
    border-radius: 5px;
}

.elName:focus{
    outline: none;
}

/* settings */

.settings-cont{
    font-size: 40px;
    display: none;
}

.theme-logo{
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

.about-cont{
    font-size: 24px;
    display: none;
    text-align: center;
    margin: 20px;
}

.main-cont{
    transition: 500ms;
}

.theme{
    display: flex;
    justify-content: space-around;
}
.button{
    /* width: 20%; */
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    user-select: none;
    cursor: pointer;
    padding: 5px;
    /* margin-right:100px;
    margin-left:100px; */
    transition: 340ms;
}

.LTBtn:hover{
    background-color:white;
    color:black;
}

.DTBtn:hover{
    background-color:#001e23;
    color:white;
    border-color: #001e23;
}

.t-btn-picked{
    color:#0094ae;
}

.langBtn:hover{
    border-color: #0094ae;
}



@media screen and (max-width:810px){
    .logos{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .text {
        width: 30%;
    }
    .logos,.about-cont{
        font-size: 25px;
    }
    .listElementBtn{
        font-size: 20px;
    }
    .button-delete{
        font-size: 16px;
    }
}
  
  @media (max-width: 450px) {
    .text {
        width: 47%;
    }
    .logos,.about-cont{
        font-size: 20px;
    }
    .listElementBtn{
        font-size: 15px;
    }
    .button-delete{
        font-size: 13px;
    }
}
