*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo{
    margin: 0 auto;
    text-align: center;
    border-radius: 20px 20px 0 0;
    background-color: #154B52;
    color: white;
    font-size: 35px;
    width: 800px;
    padding: 10px;
}

@media screen and (max-width:810px){
    .logo{
        width: 100%;
    }
}


body{
    background-color: #000B0D;
    padding: 15px;
}

.list{
    color: white;
    font-size:25px;
}

.titles{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.title{
    color:  white;
    flex: 1;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    transition-duration: 800ms;
    user-select: none;
}

.title1{
    border-right: 1px solid  rgba(255, 255, 255, 0.144);
    border-left: 2px solid rgba(255, 255, 255, 0.144);
    color: #FF5F5D;
}

.title1:hover{
    border-right: 1px solid  #FF5F5D;
    border-left: 2px solid #FF5F5D;
    color: white;
    background-color:#ff605d34;
}


.title2{
    border-left: 1px solid rgba(255, 255, 255, 0.144);
    border-right: 2px solid rgba(255, 255, 255, 0.144);
    color: #00CCBF;
}
.title2:hover{
    border-right: 2px solid  #00CCBF;;
    border-left: 1px solid #00CCBF;
    color: white;
    background-color:#00ccbe2e;
}

.listElementBtn{
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    width: 100%;
    cursor: pointer;
    word-break: break-all;
    transition-duration: 300ms;
}

.green{
    border-bottom: 1px solid #00CCBF;
}

.green:hover{
    color: #00CCBF;
    border-bottom: 1px solid white;
}

.red{
    border-bottom: 1px solid #FF5F5D;
}

.red:hover{
    color: #FF5F5D;
    border-bottom: 1px solid white;
}


.container{
    display: flex;
    gap: 10px;
}

.todo-cont{
    flex: 1;
}

.done-cont{
    flex: 1;
}

.elementAddPanel{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0 0 0;
    flex-wrap: wrap;
}

.addElBtn{
    color: white;
    border: 2px solid #00CCBF ;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 700ms;
    padding: 3px 10px;
    user-select: none;
}

.addElBtn:hover{
    background-color: #00CCBF;
    color: black;
}

.elName{
    padding: 5px;
    border: none;
}

.elName:focus{
    outline: none;
}